html, body{
	height: 100%;
	width: 100%;
	margin: 0px;
}
body{
	background: url('bg3.jpg')center center scroll;
	display: table;
}
#nest{
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
#under{
	padding-top: 25px;
}
.font{
	color: white;
	font-family: 'Montserrat';
	font-weight: bold;
	display: inline-block;
	padding-left: 30px;
	color: #FF5252;
}
.fontu{
	font-family: 'Montserrat';
	text-decoration: none;
}
.fontu:hover{
	color: #FF5252;
}
@media only screen and (max-width: 712px){
	
}
@media only screen and (max-width: 500px){
#works{
		height: 2400px;
	}
}
@media only screen and (max-width: 840px){
#works{
		height: 2200px;
	}
}
@media only screen and (max-width: 400px){
#works{
		height: 2500px;
	}
}

@media only screen and (max-height: 1000px){
	#about{
		height: 800px;
	}
}
@media only screen and (max-height: 800px){
	#about{
		height: 700px;
	}
}
@media only screen and (max-height: 600px){
	#about{
		height: 500px;
	}
}
@media only screen and (max-height: 400px){
	#about{
		height: 300px;
	}
}
