html, body{
	width: 100%;
	margin: 0px;
}

#about{
	position: relative;
	background-image: url("bg2-ConvertImage.jpg");
	width: 100%;
	height: 1000px;
	background-size: cover;
	display: table;
}

.navbar-brand{
	color: #00E676;
	font-family: 'Roboto';
}
.navbar .navbar-nav{
    display: inline-block;
    float: none;
    color: #00E676 !important;
}
.navbar{
    text-align: center;
}
#bho{
	text-align: center;
	color: #fff;
	font-family: "Roboto";
	font-size: 100px;
	transition: 2s;
}
#bho:hover{
	color: #4CAF50;
}
#works{
	position: relative;
	height: 1350px;
	width: 100%;
	background-color: #263238;
}
#middle{
		display: table-cell;
	vertical-align: middle;
}
#mad{
	text-align: center;
	margin-top: 50px;
	color: #4CAF50;
	font-family: "Roboto";
	transition: 2s;
	font-size: 35px;
}
#mad:hover{
	color: #fff;
}
#rr{
	transform: scale(-1,1);
}
#work-text{
	position: absolute;
	margin-left: 200px;
	margin-top: 100px;
	color: #fff;
	font-family: "Roboto";
	font-size: 35px;

}
#contact{
	background-color: #000;
	width: 100%;
	height: 150px;
	position: relative;
}
.close-animatedModal{
	text-align: center;
	margin-top: 25px;
}
.modal-content{
	margin-top: 25px;
	text-align: center;
	margin-right: 200px;
	margin-left: 200px;
}
#h2{
	font-family: 'Roboto';
	font-size: 35px;
	color: #fff;
}
#desci{
	color: #4CAF50;
	font-family: 'Roboto';
	font-size: 20px;
	margin-left: 20px !important;
	margin-right: 20px !important;
}
#animatedModal{
	background-color: #000 !important;
}
.cards{
	margin-top: 150px;
	text-align: center;
	position: absolute;
}
.demo-card-wide.mdl-card {
  width: 512px;
  text-align: center;
  margin-top: 50px;
}
#centerit{
	position: relative;
	text-align: center;
}
