html, body{
	height: 100%;
	width: 100%;
	margin: 0px;
	display: table;
}
body{
	background: url("bg.jpg") no-repeat center center scroll;
}
#imp{
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 50px;
	text-align: center;
	font-weight: 700;
    -webkit-transition: 2s; /* Safari 3.1 to 6.0 */
    transition: 2s;
}
#imp:hover{
	color: red;
	font-size: 60px;
}
.nest{
	display: table-cell;
	vertical-align: middle;
}
.cc{
	text-align: center;
	display: inline;
	position: relative;
}
.cci{
	text-align: center;
}
#blue{
	width: 30px;
	height: 30px;
	display: inline;
	-webkit-transition: 1s; /* Safari 3.1 to 6.0 */
    transition: 1s;
}
#blue:hover{
	width: 120px;
	height: 120px;
}
#red{
	width: 30px;
	height: 30px;
	display: inline;
		-webkit-transition: 1s; /* Safari 3.1 to 6.0 */
    transition: 1s;
}
#red:hover{
	width: 120px;
	height: 120px;
}
#purple{
	width: 30px;
	height: 30px;
		-webkit-transition: 1s; /* Safari 3.1 to 6.0 */
    transition: 1s;
}
#purple:hover{
	width: 120px;
	height: 120px;
}
#bho{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border-color: red;
	border-width: 5em;
		-webkit-transition: 1s; /* Safari 3.1 to 6.0 */
    transition: 1s;
}
#bho:hover{
	width: 50px;
	height: 50px;
	    -ms-transform: rotate(25deg); /* IE 9 */
    -webkit-transform: rotate(25deg); /* Chrome, Safari, Opera */
    transform: rotate(25deg);
}
#orange{
	width: 30px;
	height: 30px;
		-webkit-transition: 1s; /* Safari 3.1 to 6.0 */
    transition: 1s;
}
#orange:hover{
	width: 120px;
	height: 120px;
}
#yellow{
	width: 30px;
	height: 30px;
		-webkit-transition: 1s; /* Safari 3.1 to 6.0 */
    transition: 1s;
}
#yellow:hover{
	width: 120px;
	height: 120px;
}
#black{
	width: 30px;
	height: 30px;
		-webkit-transition: 1s; /* Safari 3.1 to 6.0 */
    transition: 1s;
}
#black:hover{
	width: 120px;
	height: 120px;
}