html.js, .js body {
  overflow: hidden;
  /*height: 100vh;*/ }


  @font-face {
  font-family: 'Product Sans';
  src: url('product-sans/productsansregular.ttf');
}
@font-face {
  font-family: 'Product Sans Bold';
  src: url('product-sans/productsansbold.ttf');
}

/* Pages nav */
.pages-nav {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  background: #ffffff; }

.js .pages-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  padding: 30px;
  pointer-events: none;
  opacity: 0;
  background: transparent;
  -webkit-transition: -webkit-transform 1.2s, opacity 1.2s;
  transition: transform 1.2s, opacity 1.2s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  -webkit-transform: translate3d(0, 150px, 0);
  transform: translate3d(0, 150px, 0); }
.js .pages-nav--open {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.pages-nav__item {
  width: 33%;
  padding: 1em; }

.js .pages-nav__item {
  padding: 0 10%; }

.pages-nav .pages-nav__item--social {
  width: 100%;
  opacity: 0;
  -webkit-transition: -webkit-transform 1.2s, opacity 1.2s;
  transition: transform 1.2s, opacity 1.2s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0); }

.pages-nav--open .pages-nav__item--social {
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.link {
  font-size: 0.85em;
  font-weight: bold;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase; }
  .link:hover, .link:focus {
    color: #007af4; }

.link--page {
  display: block;
  color: #3e3e3e; }
  .link--page:not(.link--faded)::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 30px;
    height: 2px;
    margin: 5px 0 0 -15px;
    background: #007af4;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1); }
  .link--page:hover:before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }

.link--faded {
  color: #4f4f64; }
  .link--faded:hover, .link--faded:focus {
    color: #5c5edc; }

.link--page.link--faded {
  font-size: 0.65em; }

.link--social {
  font-size: 1.5em;
  margin: 0 0.75em; }

.text-hidden {
  position: absolute;
  display: block;
  overflow: hidden;
  width: 0;
  height: 0;
  color: transparent; }

/* Pages stack */
.js .pages-stack {
  z-index: 100;
  pointer-events: none;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% -50%;
  perspective-origin: 50% -50%; }
.js .page {
  position: relative;
  z-index: 5;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100vh;
  pointer-events: auto;
  background: #2a2b30;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1); }
.js .pages-stack--open .page {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.45s, opacity 0.45s;
  transition: transform 0.45s, opacity 0.45s;
  -webkit-transition-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
  transition-timing-function: cubic-bezier(0.6, 0, 0.4, 1); }
.js .page--inactive {
  position: absolute;
  z-index: 0;
  top: 0;
  opacity: 0; }


/* Menu button */
.menu-button {
  position: absolute;
  z-index: 1000;
  top: 30px;
  left: 30px;
  width: 30px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent; }

.no-js .menu-button {
  display: none; }

.menu-button::before, .menu-button::after, .menu-button span {
  background: #000000; }
.menu-button::before, .menu-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  pointer-events: none;
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }
.menu-button span {
  position: absolute;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 2px;
  text-indent: 200%;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s; }
.menu-button::before {
  -webkit-transform: translate3d(0, -10px, 0) scale3d(0.8, 1, 1);
  transform: translate3d(0, -10px, 0) scale3d(0.8, 1, 1); }
.menu-button::after {
  -webkit-transform: translate3d(0, 10px, 0) scale3d(0.8, 1, 1);
  transform: translate3d(0, 10px, 0) scale3d(0.8, 1, 1); }

.menu-button--open span {
  opacity: 0; }
.menu-button--open::before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg); }
.menu-button--open::after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg); }

@media screen and (max-width: 60em) {


  .pages-nav__item {
    width: 50%;
    min-height: 20px; }

  .link--page {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }

  .link--social {
    margin: 0 0.1em; } }
@media screen and (max-width: 40em) {
  .js .pages-nav {
    display: block;
    padding: 10px 20px 0 20px;
    text-align: left; }
  .js .pages-nav__item {
    width: 100%;
    padding: 4px 0; }
  .js .pages-nav__item--small {
    display: inline-block;
    width: auto;
    margin-right: 5px; }

  .pages-nav__item--social {
    font-size: 0.9em; }

  .menu-button {
    top: 15px;
    right: 10px;
    left: auto; }
}
/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.text.container {
  max-width: 700px; }

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; } }
@media (min-width: 550px) {
  .container {
    width: 80%; }

  .column,
  .columns {
    margin-left: 4%; }

  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns {
    width: 4.66667%; }

  .two.columns {
    width: 13.33333%; }

  .three.columns {
    width: 22%; }

  .four.columns {
    width: 30.66667%; }

  .five.columns {
    width: 39.33333%; }

  .six.columns {
    width: 48%; }

  .seven.columns {
    width: 56.66667%; }

  .eight.columns {
    width: 65.33333%; }

  .nine.columns {
    width: 74%; }

  .ten.columns {
    width: 82.66667%; }

  .eleven.columns {
    width: 91.33333%; }

  .twelve.columns {
    width: 100%;
    margin-left: 0; }

  .one-third.column {
    width: 30.66667%; }

  .two-thirds.column {
    width: 65.33333%; }

  .one-half.column {
    width: 48%; }

  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66667%; }

  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.33333%; }

  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%; }

  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.66667%; }

  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.33333%; }

  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%; }

  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.66667%; }

  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.33333%; }

  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78%; }

  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.66667%; }

  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.33333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.66667%; }

  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.33333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.column {
    margin-left: 52%; } }
html {
  font-size: 62.5%; }

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Product Sans";
  color: #ffffff; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }

h1 {
  font-size: 4.0rem;
  line-height: 1.2;
  letter-spacing: -.1rem; }

h2 {
  font-size: 3.6rem;
  color: #3e3e3e;
  line-height: 1.25;
  letter-spacing: -.1rem; }

h3 {
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: -.1rem; }

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem; }

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem; }

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0; }

@media (min-width: 550px) {
  h1 {
    font-size: 5.0rem; }

  h2 {
    font-size: 4.2rem; }

  h3 {
    font-size: 3.6rem; }

  h4 {
    font-size: 3.0rem; }

  h5 {
    font-size: 2.4rem; }

  h6 {
    font-size: 1.5rem; } }
p {
  margin-top: 0; }

a {
  color: #288beb;
  text-decoration: none;
  transition: color 0.3s; }
  a:hover {
    color: #157ee4;
    color: #EF583A; }



label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

ul {
  list-style: circle inside; }

ol {
  list-style: decimal inside;
  padding-left: 0;
  margin-top: 0; }

ul {
  padding-left: 0;
  margin-top: 0; }
  ul ul, ul ol {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%; }

ol ol, ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }

li {
  margin-bottom: 1rem; }

code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 4px; }

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1; }

th:first-child,
td:first-child {
  padding-left: 0; }

th:last-child,
td:last-child {
  padding-right: 0; }

button,
.button {
  margin-bottom: 1rem; }

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

.u-full-width {
  width: 100%;
  box-sizing: border-box; }

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

.u-pull-right {
  float: right; }

.u-pull-left {
  float: left; }

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #e1e1e1; }

.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px; }

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center; }

.section-heading,
.section-description {
  margin-bottom: 1.2rem; }

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.phones {
  position: relative; }

.phone {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem; }

.phone + .phone {
  display: none; }

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
  background-image: url("../images/values-bg.jpg");
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem; }

.value-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7; }

.value-heading {
  margin-bottom: .3rem; }

.value-description {
  opacity: .8;
  font-weight: 300; }

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help {
  border-bottom: 1px solid #ddd; }

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  background-image: url("../images/values-bg.jpg");
  background-size: cover;
  color: #fff; }

.categories .section-description {
  margin-bottom: 4rem; }

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem; }

  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px; }

  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3; }

  .phone + .phone {
    top: -6rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px; }

  .hero-heading {
    font-size: 2.4rem; } }
/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px; }

  .hero-heading {
    font-size: 2.6rem; }

  .section {
    padding: 14rem 0 15rem; }

  .hero {
    padding: 16rem 0 14rem; }

  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto; }

  .phone {
    top: -14rem;
    right: 5rem;
    max-height: 510px; }

  .phone + .phone {
    top: -12rem;
    max-height: 472px; }

  .categories {
    padding: 15rem 0 8rem; } }
/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 16rem 0 16rem; }

  .hero {
    padding: 22rem 0; }

  .hero-heading {
    font-size: 3.0rem; }

  .phone {
    top: -16rem;
    max-height: 615px; }

  .phone + .phone {
    top: -14rem;
    max-height: 570px; } }
* {
  box-sizing: border-box; }
  *:after, *:before {
    box-sizing: border-box; }

body {
  margin: 0;
  color: #ffffff;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch; }

h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: subpixel-antialiased; }

.extra-margin-left {
  margin-left: 2rem !important; }

.menu-button::before,
.menu-button::after,
.menu-button span {
  background: #3e3e3e; }

#menuWrap {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 10%;
  width: 10%; }

#home {
  background: url(geocomp.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

  #about {
  background: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#projects{
  background: #fff;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

#uc{
  color: #3e3e3e;
}
.center-m {
  text-align: center; }

.white-text {
  color: #ffffff;
  letter-spacing: 2px; 
  font-weight: bold;
}

.blue-text {
  color: #4FC3F7;
  letter-spacing: 2px;
  font-weight: bold;
}

.text.container p {
  font-size: 1.7rem; }

.intro-block {
  position: absolute;
  bottom: 10%;
  padding: 0 20px; }

.intro-block-lg {
  margin-top: 50%;
  margin-top: 50vh;
  min-width: 380px;
  max-width: 380px; }

.hero-main {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: hidden; }

.page-header {
  padding: 6rem 0 3rem;
  text-align: center; }



.v-align-wrapper {
  display: flex;
  margin-top: 25vh;
  align-items: center; }

#justice{
  text-align: justify;
  color: #2e2e2e;
}

@media (max-width: 900px) {
  .hide-on-med-down {
    display: none; } }
@media screen and (max-width: 40em) {
  #menuWrap {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: initial;
    height: 10%;
    width: 15%; } }
@media (min-width: 550px) {
  #home {
    background: url(geocomp.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  .center-m {
    text-align: left; }

  .intro-block {
    margin-top: 30%;
    min-width: 420px;
    max-width: 420px; }


  .page-header {
    padding: 8rem 0 4rem; } }
@media (min-width: 900px) {
  .hide-on-lg {
    display: none; }

  #home {
    background: url(geocomp.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  .page-header {
    padding: 10rem 0 5rem; } }
@media (min-width: 1280px) {
}

/*# sourceMappingURL=style.css.map */
